@font-face {
  font-family: 'Skyer Monolite';
  src: url('/fonts/skyer-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Add this to your main CSS file (e.g., App.css or index.css) */
html, #root {
    /* 1. Set the height of the document root and body to 100% */
    height: 100%;

    /* 2. Optional: Ensure no default margin/padding on body */
    margin: 0;
    padding: 0;
}

.logo-font {
  font-family: 'Skyer Monolite', sans-serif;
}

body {
    /* 1. Set the height of the document root and body to 100% */
    height: 100%;

    /* 2. Optional: Ensure no default margin/padding on body */
    margin: 0;
    padding: 0;
  background: #0c0202;
  color: white;
  font-family: 'Skyer Monolite', sans-serif;
}

.page {
  overflow: hidden;
}

.header {
  width: 100%;
    z-index: 1000;

}

.header-placeholder {
  height: 60px;
}

.animated-top {
  font-weight: bold;
}

.title-gradient {
  background: #702727;
  background: -webkit-linear-gradient(90deg,rgba(112, 39, 39, 1) 0%, rgba(4, 71, 125, 1) 47%, rgba(23, 163, 112, 1) 100%);
  background: -moz-linear-gradient(90deg,rgba(112, 39, 39, 1) 0%, rgba(4, 71, 125, 1) 47%, rgba(23, 163, 112, 1) 100%);
  background: linear-gradient(90deg,rgba(112, 39, 39, 1) 0%, rgba(4, 71, 125, 1) 47%, rgba(23, 163, 112, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr="#702727",
          endColorstr="#17A370",
          GradientType=1
  );
  background-clip: text;
  -webkit-background-clip: text; /* For WebKit browsers */
  color: transparent;
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
}
